* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: #743737;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    border-bottom: 2px solid white;
}


section {
    padding: 120px 8% 80px;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    background: transparent; 
}


.hero.right .img-box {
    order: 2;
}

.hero.left .img-box {
    order: 0;
}

.hero .img-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}


.hero.right .img-box img {
    max-width: 800px; 
}


.hero .text {
    max-width: 45%;
}

.hero .text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero .text p {
    font-size: 18px;
}


.produit {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.produit .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.card {
    width: 30%;
    height: 200px;
    background: #e8dcdc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
